html {
      font-size: 20px;
      background-color: lightblue;
}

#container > div {

      background-color: red;
      margin-bottom: 15px;
      color: white;
}

#piksele {
width: 400px;
}

#container {
  font-size: 30px;
}

#em {
  width: 20em;
}

#ex {
  width: 25px;
}

body {
  background-color: lightblue;
}
