html {
      font-size: 20px;
      background-color: lightblue;
}

#container > div {

      background-color: red;
      margin-bottom: 15px;
      color: white;
}

#piksele {
width: 400px;
}

#container {
  font-size: 30px;
}

#em {
  width: 20em;
}

#ex {
  width: 25ex;
}

#rem {
  width: 30rem;
}

#procenty {
  width: 70%;
}

#vw {
  width: 50vw;
}

#vh {
  width: 80vh;
}

#vmin {
  width: 60vmin;
}

#vmax {
  width: 60vmax;
}

body {
  background-color: lightblue;
}
