html {
      font-size: 20px;
      background-color: lightblue;
}

#container > div {

      background-color: red;
      margin-bottom: 15px;
      color: white;
}

#pixele {
width: 400px;  
}

body {
  background-color: lightblue;
}
